body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('../Images/Background.jpg') no-repeat center center fixed;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(3px);
    z-index: -1;
}

h1 {
    text-align: center;
}

#course-info {
    text-align: center;
    margin: 20px 0;
}

#scorecard-container {
    position: relative;
    width: 80%;
    display: flex;
    top: 30%;
    margin: 0 auto;
    overflow-x: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input {
    width: 40px;
    height: 30px;
    text-align: center;
}

table {
    height: 30%;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    word-wrap: break-word;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

table, th, td {
    table-layout: fixed;
    border: 2px solid black;
}

th, td {
    padding: 10px 5px;
    text-align: center;
}

th {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
}

.total {
    font-weight: bold;
};